<h2>Todas as Transações</h2>
<table id="recent-transactions">
    <tr>
        <th>Data</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Quantidade</th>
    </tr>
    <tr>
        <td>20/02/2024</td>
        <td>Salário</td>
        <td>Renda</td>
        <td>R$ 4.000,00</td>
    </tr>
    <tr>
        <td>21/02/2024</td>
        <td>iFood</td>
        <td>Alimentação</td>
        <td>-R$ 49,90</td>
    </tr>
    <tr>
        <td>22/02/2024</td>
        <td>Uber</td>
        <td>Transporte</td>
        <td>-R$ 27,50</td>
    </tr>
    <tr>
        <td>23/02/2024</td>
        <td>Farmácia</td>
        <td>Saúde</td>
        <td>-R$ 89,99</td>
    </tr>
    <tr>
        <td>24/02/2024</td>
        <td>Netflix</td>
        <td>Entretenimento</td>
        <td>-R$ 39,90</td>
    </tr>
    <tr>
        <td>25/02/2024</td>
        <td>Bolsa de Estudos</td>
        <td>Renda</td>
        <td>R$ 1.200,00</td>
    </tr>
    <tr>
        <td>26/02/2024</td>
        <td>Curso Online</td>
        <td>Educação</td>
        <td>-R$ 199,00</td>
    </tr>
    <tr>
        <td>27/02/2024</td>
        <td>Restaurante</td>
        <td>Alimentação</td>
        <td>-R$ 120,00</td>
    </tr>
    <tr>
        <td>28/02/2024</td>
        <td>Venda de Produto</td>
        <td>Renda Extra</td>
        <td>R$ 350,00</td>
    </tr>
    <tr>
        <td>01/03/2024</td>
        <td>Supermercado</td>
        <td>Alimentação</td>
        <td>-R$ 320,40</td>
    </tr>
</table>
